.page {
	width: 100%;
	height: 99.9vh;
	background-color: #282c34;
	border-top: #810e05 1px solid;
}

.navFormatting ul li {
	text-align: center;
	display: block;
	margin: 8px;
	color: inherit;
	padding: 3px;
}

.navFormatting ul li a {
	color: inherit;
	text-decoration: none;
	background-color: gray;
	border-radius: 3px;
	padding: 1.5px;
}

.divFormatting {
	text-align: center;
}

.imageFormatting {
	display: block;
	margin-left: auto;
	margin-right: auto;
	height: 300px;
	width: 300px;
}

.buttonFormatting {
	background: linear-gradient(to bottom, #c62d1f 5%, #f24437 100%);
	background-color: #c62d1f;
	border-radius: 10px;
	border: 1px solid #d02718;
	display: inline-block;
	cursor: pointer;
	color: #ffffff;
	font-family: Arial;
	font-size: 17px;
	padding: 11px 22px;
	text-decoration: none;
	text-shadow: -1px -2px 1px #810e05;
	margin-top: 5px;
}

.buttonFormatting:hover {
	background: linear-gradient(to bottom, #f24437 5%, #c62d1f 100%);
	background-color: #f24437;
}

.buttonFormatting:active {
	position: relative;
	top: 1px;
}

.resourceArea h2 a {
	text-decoration: none;
	color: gray;
}
